body{
margin:0;
font-family:Arial;
background:#f4f6f8;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

input{
padding:10px;
border-radius:20px;
border:1px solid #ccc;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
}

.green{
color:green;
font-weight:bold;
}

.red{
color:red;
font-weight:bold;
}

#loading{
text-align:center;
padding:20px;
font-size:18px;
}
